<form [formGroup]="addressForm" novalidate (change)="onChange()" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulario Empleados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del empleado" formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              El nombre del empleado es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo" formControlName="correo">
            <mat-error *ngIf="addressForm.controls['correo'].hasError('required')">
              El correo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="telefono" type="number">
            <mat-error *ngIf="addressForm.controls['telefono'].hasError('required')">
              El teléfono es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>      
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="rol">
            <mat-radio-button value="tecnico">Técnico</mat-radio-button>
            <mat-radio-button value="jefe">Jefe</mat-radio-button>
            <mat-radio-button value="administrado">Administrador</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="botonDeshabilitado">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
