<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Lista de Empresas</h1></mat-card-title>
  </mat-card-header>  
  <mat-card-content>
    <div class="mat-elevation-z8" style="width: 90%; margin: auto; ">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        <!-- NIT Column -->
        <ng-container matColumnDef="nit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT</th>
          <td mat-cell *matCellDef="let row">{{row.nit}}</td>
        </ng-container>
  
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>
  
        <!-- Correo Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let row">{{row.correo}}</td>
        </ng-container>
  
        <!-- Teléfono Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefóno</th>
          <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
        </ng-container>
  
        <!-- Dirección Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
          <td mat-cell *matCellDef="let row">{{row.direccion}}</td>
        </ng-container>
  
        <!-- Contacto Column -->
        <ng-container matColumnDef="contacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</th>
          <td mat-cell *matCellDef="let row">{{row.contacto}}</td>
        </ng-container>
  
        <!-- Ciudad Column -->
        <ng-container matColumnDef="ciudad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
          <td mat-cell *matCellDef="let row">{{row.ciudad}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>  
</mat-card>
