.fondo {
  background-color: royalblue;
  margin-top: 10%;
  margin-bottom: 0;
  position: absolute;
}

.full-width {
  width: 100%;
}

.shipping-card {
  
  min-width: 120px;
  margin:auto;
}

.row {
  margin: auto 10%;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card-header {
  margin: auto 40%;
}

button{
  margin: auto 40%;
}
