<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Mantenimientos</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Costo Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
          <td mat-cell *matCellDef="let row">{{row.costo}}</td>
        </ng-container>

        <!-- Fecha Ingreso Column -->
        <ng-container matColumnDef="ingreso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Ingreso</th>
          <td mat-cell *matCellDef="let row">{{row.ingreso}}</td>
        </ng-container>

        <!-- Fecha salida Column -->
        <ng-container matColumnDef="salida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha salida</th>
          <td mat-cell *matCellDef="let row">{{row.salida}}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let row">{{row.estado}}</td>
        </ng-container>

        <!-- Equipo Column -->
        <ng-container matColumnDef="equipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipo</th>
          <td mat-cell *matCellDef="let row">{{row.equipo}}</td>
        </ng-container>

        <!-- Tecnico Column -->
        <ng-container matColumnDef="tecnico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tecnico</th>
          <td mat-cell *matCellDef="let row">{{row.tecnico}}</td>
        </ng-container>

        <!-- Observaciones Column -->
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
          <td mat-cell *matCellDef="let row">{{row.observaciones}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
