.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #7b1fa2;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {  
  flex: 1 1 auto;
}

mat-toolbar > mat-icon {
  margin: auto 20px;
}
